{% extends "base.html" %} {% block content %}

<div class="title">
  <br>
  <h1 style="text-align: center; color: black;">RECORDS</h1>
  <hr style="border-top: 3px double rgb(0,0,0);"/>
  <br> 
</div>
<div class="row">
  <div class="col-3" >
        <div class="card text-white bg-warning bg-opacity-5 mb-3 shadow style="max-width: 20rem;">
          <div class="card-header"> <b> Max Verstappen - 2021 Winner </b> </div>
          <div class="card-body">
            <p><img src="./static/max.jpg" width="200px" height="175px" /></p>
          </div>
        </div>
  </div>
        
  <div class="col-6" style="">
    <table class="table table-dark table-hover shadow">
      <thead>
        <tr class="table-dark">
          <th scope="col">Season</th>
          <th scope="col">Driver</th>
          <th scope="col">Age</th>
          <th scope="col">Chasis</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-light">
          <th scope="row">2021</th>
          <td>Max Verstappen</td>
          <td>24</td>
          <td>Redbull</td>
        </tr>
        <tr class="table-warning">
          <th scope="row">2020</th>
          <td>Lewis Hamilton</td>
          <td>35</td>
          <td>Mercedes</td>
        </tr>
        <tr class="table-light">
          <th scope="row">2019</th>
          <td>Lewis Hamilton</td>
          <td>34</td>
          <td>Mercedes</td>
        </tr>
        <tr class="table-warning">
          <th scope="row">2018</th>
          <td>Lewis Hamilton</td>
          <td>33</td>
          <td>Mercedes</td>
        </tr>
        <tr class="table-light">
          <th scope="row">2017</th>
          <td>Lewis Hamilton</td>
          <td>32</td>
          <td>Mercedes</td>
        </tr>
     
      </tbody>
    </table>
  </div>
  <div class="col-3" style="margin-right: -60%;">
    <canvas id="myChart4" style="width:500px; height:500px"></canvas>
  </div>
</div>

  <div class="row">
    <div class="col-4">
       <canvas id="myChart2" width="400" height="400"></canvas>
    </div>
    <div class="col-4">
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <div class="col-4">
      <canvas id="myChart3" width="400" height="150"></canvas>
      </div>
    </div>
  <br>
      <hr style="border-top: 3px double rgb(0,0,0);"/>
  </div>

{% endblock %}
